.adopters {
  background-color: var(--colors-base-light);
  padding: 64px 0;
  position: relative;

  & a img {
    transition: all ease 200ms;
  }

  & a:any-link {
    &:hover,
    &:active,
    &:focus {
      & img {
        filter: invert(1);
      }
    }
  }
}

.adopters-inner {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.adopters-box {
  height: 5em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0px !important;

  & a {
    max-height: 2em;
  }
  & img {
    height: auto;
    max-height: 2em;
  }
}
