@import '../styles/properties.css';

.thin {
  background-color: var(--colors-base-white);
  padding: 32px 0;

  &:first-child {
    padding-top: 96px;
  }

  &:last-child {
    padding-bottom: 64px;
  }

  & h3 {
    color: var(--colors-base-black);
  }
  & p {
    color: var(--colors-base-dark);
    margin-bottom: 16px;
  }

  & :global a.cta.secondary:any-link {
    color: var(--colors-base-dark);
    border-color: var(--colors-base-dark);

    &:last-child {
      margin-right: 0 !important;
    }

    &:hover {
      border-color: var(--colors-themed-default);
      color: var(--colors-themed-default);
    }
  }

  & :global a.cta.primary:any-link {
    color: var(--colors-base-white);
    background-color: var(--colors-themed-default);
    border-color: var(--colors-themed-default);

    &:hover,
    &:focus,
    &:active {
      color: var(--colors-base-white);
      background-color: var(--colors-base-black);
      border-color: var(--colors-base-black);
    }
  }
}

.cap {
  text-transform: capitalize;
}

@media (--sm-viewport) {
  .thin {
    padding: 64px 0;
  }
}

@media (--md-viewport) {
  .thin {
    padding: 64px 0;
  }
}
